.home {
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5); // 50% opacity
    text-align: center;
    color: #fff;
    padding: 2%;

    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
        animation: fadeIn 5s;
        z-index: -1;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2%;
        animation: fadeIn 5s;
        z-index: -1;
    }

    .d_skill {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%; // or 40%, depending on your preference
    }

    .name {
        margin-bottom: 1%;
        font-size: 2.5em;
        color: rgb(19, 30, 92);
    }

    .title {
        font-size: 2em;
        color: rgb(24, 85, 42);
    }

    .description {
        justify-content: flex-end;
        width: 60%; // or 40%, depending on your preference
        font-size: 1.5em;
    }

    .skills{
        width: 60%
    }
    .contact,
    .links {
        margin-bottom: 2%;

        h3 {
            font-size: 2em;
            color: #00f;
        }

        p {
            font-size: 1.5em;
        }
    }

    a {
        color: #0f0;
        transition: color 0.5s;

        &:hover {
            color: #00f;
        }
    }

    @media (max-width: 600px) {
        padding: 1%;

        .name, .title {
            font-size: 1.5em;
        }

        .description, h3, p {
            font-size: 1em;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
