body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #000000 0%, #1e1e20 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center; // Center the items vertically
    justify-content: center; // Center the items horizontally
    text-align: left;
    color: #fff;
    width: 90vw;
    height: 90vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    margin: 5vh 5vw;
}

.left {
    width: 30%;
    position: absolute; // Position relative to the .home div
    left: 0; // Position at the left
    top: 0; // Position at the top
}

.right {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}


.name {
    font-size: 2.5em;
    color: #07456f;
}

.title {
    font-size: 2em;
    color: #044b2e;
}

.description {
    display: flex;
    font-size: 1.5em;
}
