.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menuItem {
    margin: 1em 0;
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projectsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projectItem {
    margin: 0.5em 0;
}
